<b>First name:</b> {{ professor.first_name }}<br>
<b>Last name:</b> {{ professor.last_name }}<br>
<b>Subjects:</b>
	<ul>{% for subject in professor.subjects.all %}
		<li>{{ subject.name }}</li>
	{% endfor %}</ul>
<b>Authorised codes:</b>
	<ul>{% for code in professor.auth_codes.all %}
		<li>
			{{ code }} @ {{code.authorised_datetime}}
			{% if code.is_valid %}
				(unused)
			{% else %}
				(Used for: {{ code.used_file.title }} @ {{ code.used_datetime }})
			{% endif %}
		</li>
	{% endfor %}</ul>
<a href="{% url 'prof_list' %}">Nazaj</a>
