<!DOCTYPE html>
<!--
<h1>Upload file</h1>
{% if error != "" %}<b style="color:red">{{ error }} <a href=".">Clear</a></b>{% endif %}
<form action="." method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Oddaj datoteko">
</form>
<a href="{% url 'submissions_list' %}">Nazaj</a>
-->

<html lang="sl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/upload.css">
		<meta name="author" content="Yon Ploj, Luka Urbanč">
		<title>Objava zapiskov</title>
	</head>
	<body>
		<div id="basic_form">
			<div id="form_header">
				Obrazec za objavo datoteke
			</div>
			<details id="navodila">
				<summary>Navodila za izpolnjevanje:</summary>
				<p>Izberi si unikatno ime ali psevdonim, po katerem boš znan na Ledinskih zapiskih. Registracija ni potrebna.<br>
				Poimenuj datoteko, tako da bo jasno kaj vsebuje. Bodi čim bolj natančen in izviren.<br>
				Vsebino opiši z oznakami, ločenimi z vejicami.<br>
				Izberi letnik, v katerem se snov jemlje in profesorja, ki je snov predaval.<br>
				<b>Velikost datoteke naj bo manj kot 8 MiB.</b> Če velikost presega omejitev, razdeli snov na več poglavij. Če to ni možno, se obrni na administratorja.<br>
				<b>Kodo za objavo dobiš pri kateremkoli profesorju ali šolski psihologinji.</b><br>
				Za generiranje kode <a href="{% url 'authcode_generator' %}">klikni tukaj</a>.<br><br>
				Vsa polja označena z * so obvezna.</p>
			</details>
			<form enctype="multipart/form-data" action="." method="post" style="padding-bottom: 20px">
				{% if error != "" %}<b style="color:red">{{ error }} <a href=".">Clear</a></b>{% endif %}
				{% csrf_token %}
				{% for field in form %}
					<div style="padding: 10px 0">{{ field.label }}: <span style="float:right">{{ field }}</span></div>
				{% endfor %}
				<input type="submit" value="Oddaj datoteko">
				<input type="button" id="back" value="Nazaj" onclick="window.location.href='{% url 'submissions_list' %}';">
			</form>
		</div>
	</body>
</html>
